.clients {
    display: flex;
    column-gap: 30px;
    row-gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    &-container {
            padding-top: 94px;
            padding-bottom: 94px;
            display: flex;
            flex-direction: column;
            row-gap: 30px;
        }
    &__item {
        width: 170px;
        height: 92px;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        @extend %align;
        transition: border-color var(--dur-and-func);
    
        &:hover,
        &:focus {
            border-color: var(--brand-color);
        }
    }
    &__item-icon {
        fill: #AFB1B8;
            transition: fill var(--dur-and-func);
    
        .clients__item:hover &,
        .clients__item:focus & {
            fill: var(--brand-color);
        }
    }
}

@media screen and (min-width: 320px) {
    .clients-container {
        padding-top: 60px;
        padding-bottom: 60px;
    }
        .clients__item {
            width: 210px;
            height: 92px;
        }
}

@media screen and (min-width: 768px) {
    

    .title {
        margin-bottom: 30px;
    }
        .clients__item {
            width: 226px;
        }

}


@media screen and (min-width: 1200px) {
    .clients-container{
        padding-top: 94px;
        padding-bottom: 94px;
        row-gap: 50px;
    }
        .clients__item {
        width: 170px;
    }

    .title {
        margin-bottom: 50px;
    }
}